<manifest package="com.llflib.cm"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name=".ui.BrowserAct" android:configChanges="screenSize|orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.PickAddressAct" android:configChanges="screenSize|orientation"
            android:screenOrientation="portrait" />
    </application>
</manifest>
